
.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
  }
  
  .timeline-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  
  .date {
    font-size: 14px;
    font-weight: bold;
    color: #ffd700;
    cursor: pointer;
  }
  
  .event-titles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;
  }
  
  .event-title {
    font-size: 16px;
    font-weight: bold;
  }
  
  .timeline-item {
    position: relative;
    background-color: #333; 
    color: #fff;
    border-radius: 10px; 
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1000px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .timeline-marker {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: green; 
    }
  }
  
  .timeline-item.expanded .timeline-marker {
    &::before{
      background-color: #e63946;
    }
  }
  
  .timeline-content {
    margin-top: 15px;
  }
  
  .timeline-item.expanded {
    background-color: #444; 
  }
  
  .timeline-item p {
    margin: 10px 0;
  }

  @media (max-width: 1000px) {
    .container.work-page{
      overflow: hidden;
    }
    .date,
    .event-title {
      font-size: 12px;
    }
    .timeline-container {
      width: 70vh;
    }
    .text-zone{
      margin-left: 10px;
    }
  }

  @media (max-width: 600px) {
    .timeline-container {
      width: 39vh;
    }
  }
 