.stage-cube-cont {
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 18%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
  }
  
  .cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 150px 150px 0;
    margin-left: calc(60% - 150px);
    display: flex;
  
    div {
      position: absolute;
      width: 300px;
      height: 300px;
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.4);
      text-align: center;
      font-size: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px lightyellow;
    }
  
    .face1 {
      transform: translateZ(150px);
      color: #232f3e;
    }
    .face2 {
      transform: rotateY(90deg) translateZ(150px);
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(150px);
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(150px);
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(150px);
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(150px);
    }
  }
  
  @keyframes spincube {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    33% {
      transform: rotateY(-90deg) rotateX(90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      transform: rotateX(90deg);
    }
  }
  .flat-button { 
    color: #ffd700; 
    font-size: 15px; 
    font-weight: 800;
    letter-spacing: 4px;
    text-decoration: none;
    padding: 10px 70px; 
    border: 2px solid #ffd700; 
    margin-top: 25px; 
    float: left; 
    animation: fadeIn 1s 1.8s backwards; 
    white-space: nowrap; 

    &:hover { 
        background: #ffd700; 
        color: #333;
    }
}

@media screen and (max-width: 1000px){
  .stage-cube-cont {
    position: initial; 
    width: 100%; 
    height: 0%; 
    overflow: visible; 
  }
  .cubespinner {
    transform-origin: 100% 0 0;
    position: absolute; 
    top: 50px; 
    right: 80px;
  
    div {
      position: absolute;
      width: 50px;
      height: 50px;
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.4);
      text-align: center;
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px lightyellow;
    }
  
    .face1 {
      transform: translateZ(25px);
      color: #232f3e;
    }
    .face2 {
      transform: rotateY(90deg) translateZ(25px);
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(25px);
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(25px);
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(25px);
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(25px);
    }
  }

  .flat-button { 
    font-size: 2vw; 
    letter-spacing: 0.4em; 
  }
}